name: Build OBS Plugins

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  DONT_USE_GENERATED_BINDINGS: "true"

jobs:
  cargo_fmt:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - uses: actions/cache@v1
        with:
          path: ${{ github.workspace }}/target
          key: ubuntu-rust-target-directory

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - run: cargo fmt --all -- --check

  cargo_clippy:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - uses: actions/cache@v1
        with:
          path: ${{ github.workspace }}/target
          key: ubuntu-rust-target-directory

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - run: cargo clippy --all --no-deps -- -D warnings

  build_linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - uses: actions/cache@v1
        with:
          path: ${{ github.workspace }}/target
          key: ubuntu-rust-target-directory

      - run: |
          sudo add-apt-repository ppa:obsproject/obs-studio
          sudo apt-get update
          sudo apt-get install obs-studio libxcb-randr0-dev libxcb-ewmh-dev

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - run: cargo build --verbose --workspace

      - run: cargo test --workspace

  build_windows:
    runs-on: windows-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - uses: actions/cache@v1
        with:
          path: ${{ github.workspace }}/target
          key: windows-rust-target-directory

      - run: choco install obs-studio llvm

      - run: cargo build --verbose --workspace --exclude scroll-focus-filter

      - run: cargo test --workspace --exclude scroll-focus-filter

  build_macos:
    runs-on: macos-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - uses: actions/cache@v1
        with:
          path: ${{ github.workspace }}/target
          key: macos-rust-target-directory

      - run: brew install --cask obs

      - run: cargo build --verbose --workspace --exclude scroll-focus-filter

      - run: cargo test --workspace --exclude scroll-focus-filter
